<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.sanzu.eclass">

    <application
            android:name=".Application"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Discussion.commentActivity">
        </activity>
        <activity android:name=".Discussion.DiscussionPostActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".hactivity"/>
        </activity>
        <activity android:name=".Discussion.DiscussionActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".hactivity"/>
        </activity>
        <activity android:name=".Notes.noticeContents">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".Notes.NotesActivity"/>
        </activity>
        <activity android:name=".Notes.NotesActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".hactivity"/>
        </activity>
        <activity android:name=".AssignmentActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".hactivity"/>
        </activity>
        <activity
                android:name=".notice_announcements.NoticeActivity"
                android:label="@string/title_activity_notice">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".hactivity"/>
        </activity>
        <activity android:name=".AdmiinChanges.AdminActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".hactivity"/>
        </activity>
        <activity
                android:name=".LoginFIles.Login_Activity"
                android:theme="@style/AppTheme.NoActionBarlogin">
        </activity>
        <activity
                android:name=".LoginFIles.Registration_Activity"
                android:theme="@style/AppTheme.NoActionBarlogin">
        </activity>
        <activity
                android:name=".hactivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".RoutineActivitities.RoutineActivity"
                android:label="Routine">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".hactivity"/>
        </activity>
        <activity android:name=".RoutineActivitities.routdetail">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".RoutineActivitities.RoutineActivity"/>
        </activity>
        <activity
                android:name=".splash"
                android:noHistory="true"
                android:theme="@style/AppTheme.NoActionBarsplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id"/>

        <service android:name=".AdmiinChanges.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent"/>
    </application>

</manifest>